*{
    background-color: black;
    color: white;
}

:root{
    --accordionHeaderGradient: linear-gradient(#2c0b0b, #5c0b0b);
}

head{
    background-color: black;
}

header{
    background-color: black;
}

body{
    background-color: black;
}

main {
    background-color: black;
}

footer{
    background-color: black;
}

/* css  */
.ui-accordion-header{

    background-color: var(--accordionHeaderGradient);
}

.box{
  
}

