* {
    background-color: black;
    color: white;
}

:root {
    --accordionHeaderGradient: linear-gradient(#2c0b0b, #5c0b0b);
}

head {
    font-size: 50px;
}

header {
    font-size: 50px;
    text-align: center;
}

#wikiSection {
    margin: 30px 0px 0px 10px;
    text-align: left;
    font-size: 20px;
}


main {
    background-color: black;
}

footer {
    font-size: 10px;
    text-align: center;
    padding-top: 1000px;
}

/* css  */
.ui-accordion-header {
    background-color: var(--accordionHeaderGradient);
}

.box {}

#nav {
    border: 2px solid black;
    float: inline-start;
    margin: 12px 12px 12px 45px;
    padding: 15px;
    height: 55px;
    outline-color: black;
    font-size: 20px;
}

#nav:focus {
    outline-color: gold;
}

#favorite {
    content: "\01F90E";
    width: 50px;
    margin: 25px 60px 0px 60px;
    border-radius: 4px;
    height: 40px;
}

#favorite:hover {
    content: "\01F49B";
}

#button2 {
    width: 50px;
    margin: 25px 60px 0px 60px;
    border-radius: 4px;
    height: 40px;
}

#searchBtn {
    margin: 10px;
    font-size: 20px;
    background-color: gold;
    border: gold 2px solid;
    cursor: pointer;
    width: 80px;
}

#searchBtn:hover {
    border: black 4px solid;
    border-radius: 4px;
}

footer {
    margin-bottom: 0px;
    padding-top: 1000px;
}