*{
    /* background-color: black; */
}

head{
    background-color: ;
}

header{
    background-color: ;
    color: white;
    text-align: center;
}

body{
    background-color: ;
}

main {
    background-color: ;
}

footer{
    background-color: ;
}

